POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=semantic_search
POSTGRES_USER=semantic_search
POSTGRES_PASSWORD=semantic_search

API_PORT=3000
WEB_PORT=5173

OPENAI_API_KEY="place-you-api-key"
GEMINI_API_KEY="place-you-api-key"
LOCAL_EMBEDDING_MODEL=mxbai-embed-large
LOCAL_EMBEDDING_API_URL="http://127.0.0.1:11434/"
